.skills {
  &-module {
    margin-left: 15px;
    margin-top: 32px;

    &__title {
      margin-top: 0;
      margin-bottom: 15px;
      margin-left: 5px;
      font-size: 19px;
    }
  }
}

@media (max-width: 530px) {
  .skills-module__title {
    font-size: 18px;
  }
}

@media print {
  .skills {
    &-module {
      margin-top: 25px;

      &__title {
        margin-left: 0;
        font-size: 17px;
      }
    }
  }
}
