.list {
  margin: 0;
  padding-left: 20px;
  list-style: none;


  & > li {
    position: relative;
    padding: 4px 0 4px 15px;
    line-height: 28px;

    &::before{
      content: "-";
      position: absolute;
      top: 4px;
      left: 0;
    }
  }
}

.list--nested {
  padding-top: 7px;
  list-style: disc;

  li {
    padding: 4px 0;
    line-height: 30px;
  }
}
